<div class=" canvas">
  <div id="createImg">
    <canvas>
    </canvas>
  </div>
<!--   <nav>
    <a href="#" style="background-color: #df4c4b"></a>
    <a href="#" style="background-color: red"></a>
    <a href="#" style="background-color: pink"></a>
    <a href="#" style="background-color: #f74040"></a>
  <div id="buttons">
    <input type="button" id="clear" value="Clean">
      <input type="button" value="save"class="save" size="30" style="">

  </div>
  </nav> -->


  <img id="canvasimg" style="position:absolute;top:10%;left:52%;" style="display:none;">
</div>

