<div class="canvas">
    <canvas id="canvas">

      Your browser does not support the HTML5 canvas tag.

    </canvas>

<!--   <nav>
    <a href="#" style="background-color: #df4c4b"></a>
    <a href="#" style="background-color: red"></a>
    <a href="#" style="background-color: pink"></a>
    <a href="#" style="background-color: #f74040"></a>
  <div id="buttons">
    <input type="button" id="clear" value="Clean">
      <input type="button" value="save"class="save" size="30" style="">

  </div>
  </nav> -->

</div>

