<div class="canvas">
    <canvas id="canvas">

      Your browser does not support the HTML5 canvas tag.

    </canvas>

<!--   <nav>
    <a href="#" style="background-color: #df4c4b"></a>
    <a href="#" style="background-color: red"></a>
    <a href="#" style="background-color: pink"></a>
    <a href="#" style="background-color: #f74040"></a>
  <div id="buttons">
    <input type="button" id="clear" value="Clean">
      <input type="button" value="save"class="save" size="30" style="">

  </div>
  </nav> -->

</div>

<audio loop id="rainforest">
<source src="https://www.dropbox.com/s/pm31q09famu29x2/Rainforest%20Sounds.mp3?raw=1" type="audio/mpeg">

Your browser does not support the audio tag.
</audio>

<audio id="music">
<source src="https://www.dropbox.com/s/xa7pu0d25jgnau8/Music.mp3?raw=1" type="audio/mpeg">

Your browser does not support the audio tag.
</audio>


<div id="line-data" data-lines = <%= @lines %>></div>

<a href="https://docs.google.com/document/d/1JRL-rBeT1HGCSFe_14ODdzOngso9x7PWkz68tBHcfdU/edit?usp=sharing" target="_blank"><div class="link" id="link_one"></div></a>
<a href="https://docs.google.com/spreadsheets/d/1e09MwMono_xxBkWaiSmRZVfRDWPmIdCwqg_pIYxGh0U/edit#gid=0" target="_blank"><div class="link" id="link_two"></div></a>
